@charset "UTF-8";
@font-face {
  font-family: "MuseoCyrl900";
  src: url("../fonts/MuseoSansCyrl900.ttf");
  src: url("../fonts/MuseoSansCyrl900.ttf") format("truetype");
  font-weight: 900;
  font-style: bold;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaBold.otf");
  src: url("../fonts/ProximaNovaBold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
  position: relative;
  width: 1366px;
  margin: 0 auto;
  color: #000;
  background: url("../img/bg/bg1.png") 0 0/1366px 2000px no-repeat;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "ProximaNova";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "ProximaNova";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 1366px;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: url("../img/bg/trl.png") 0 30px no-repeat;
}
.container {
  width: 1122px;
  margin: 0 auto;
}

header {
  background-color: rgba(255, 255, 255, 0.25);
}

.header {
  display: flex;
  font-size: 0;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 22px 0px 22px 0px;
}
.header__logo {
  display: block;
  width: 65px;
  height: 65px;
  position: relative;
  margin: 0px 135px 0px 0px;
}
.header__logo img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.menu-header__icon {
  display: none;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}
.menu-header__icon span {
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.menu-header__icon span:first-child {
  top: 0px;
}
.menu-header__icon span:last-child {
  top: auto;
  bottom: 0px;
}
.menu-header__icon.active span {
  transform: scale(0);
}
.menu-header__icon.active span:first-child {
  transform: rotate(-45deg);
  top: 8px;
}
.menu-header__icon.active span:last-child {
  transform: rotate(45deg);
  bottom: 8px;
}
.menu-header__menu {
  transition: all 0.3s ease 0s;
  position: relative;
}
.menu-header__list {
  display: flex;
  font-size: 0;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}
.menu-header__list li {
  margin: 0px 35px 0px 0px;
}
.menu-header__list li:nth-child(4) {
  margin: 0;
}
.menu-header__list li:nth-child(5) {
  margin: 0;
}
.menu-header__list li:last-child {
  margin: 0px 0px 0px 0px;
}
.menu-header__link {
  display: block;
  position: relative;
  color: grey;
  text-transform: uppercase;
  font-family: "ProximaNova";
  font-size: 14px;
  font-weight: 700;
}
.menu-header__link:after {
  transition: all 0.8s ease 0s;
  display: none;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #0f1219;
  background-image: linear-gradient(to right, #ffa658 0%, #fe5d72 100%);
}
.menu-header__link:hover {
  color: #2e3338;
}
.menu-header__link:hover:after {
  display: block;
}
.menu-header__link_dn {
  background: linear-gradient(to right, #ffa757 0%, #fe5b73 100%);
  color: #2e3338;
}
.menu-header__link_dn p {
  background: white;
  mix-blend-mode: screen;
  /* Режим наложения */
}
.menu-header__hiden-menu {
  position: absolute;
  left: 180px;
}

.hiden-menu {
  display: none;
  width: 253px;
  box-shadow: 0 15px 65px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  z-index: 100;
}
.hiden-menu li {
  position: relative;
}
.hiden-menu li:hover div {
  display: block;
}
.hiden-menu li div {
  display: none;
  width: 94px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fb881b;
  background-image: linear-gradient(to right, #5262d6 0%, #42a2f3 100%);
}

.menu-header__menu .dots:hover ~ ul.hiden-menu {
  display: block;
}

.arrow {
  width: 45px;
  height: 70px;
  position: absolute;
  background: transparent url("../img/icons/arr.png") left top no-repeat;
  top: -10px;
  right: 0px;
}

.hiden-menu li a {
  display: block;
  color: #b1bbc6;
  font-family: "ProximaNova";
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 17px 0px 18px 24px;
  border-bottom: 1px solid #edf2f9;
}
.hiden-menu li a:hover {
  color: #505459;
}

.dots {
  display: flex;
  font-size: 0;
  margin: 0px 60px 0px 30px;
}
.dots:hover .dots__dot {
  box-shadow: 0px 0px 10px #fe5f72;
}
.dots__dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #9da9b5;
  margin: 1px;
}

.btn_pg {
  width: 190px;
  height: 51px;
  color: #ffffff;
  font-family: "ProximaNova";
  font-size: 13px;
  font-weight: 700;
  padding: 18px 23px 21px 68px;
  background: url(../img/icons/face.svg) 19px 13px no-repeat, linear-gradient(to right, #ffa857 0%, #fe5a73 100%);
  background-color: #0f1219;
}
.btn_pg:after {
  content: "";
  width: 190px;
  height: 4px;
}
.btn_pg:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 55px;
  width: 1px;
  height: 22px;
  background-color: #ffffff;
  opacity: 0.15;
}

.btn_gn {
  width: 190px;
  height: 51px;
  padding: 18px 23px 21px 68px;
  color: #ffffff;
  font-family: "ProximaNova";
  font-size: 13px;
  font-weight: 700;
  background-color: #0f1219;
  background: url(../img/icons/triangl.svg) 19px 13px no-repeat, linear-gradient(to right, #96ad1b 0%, #4e6715 100%);
}
.btn_gn:after {
  content: "";
  width: 190px;
  height: 4px;
}
.btn_gn:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 55px;
  width: 1px;
  height: 22px;
  background-color: #ffffff;
  opacity: 0.15;
}
.btn_gn_pp {
  margin: 5px 31px 0px 0px;
  box-shadow: 0 15px 45px rgba(105, 179, 23, 0.45);
  background-color: #0f1219;
  background: url(../../img/icons/face.png) 19px 13px no-repeat, linear-gradient(to right, #9bdb01 0%, #66b118 100%);
}

.footer {
  margin: 315px 0px 0px 0px;
  background-color: #343a4a;
  height: 111px;
  display: flex;
  font-size: 0;
  align-items: center;
}
.footer__row {
  display: flex;
  font-size: 0;
  justify-content: space-between;
  align-items: center;
}
.footer__low {
  max-width: 462px;
  text-align: center;
}
.footer__text1 p {
  color: #ffffff;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}
.footer__text2 p {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}
.footer__text2 p span a {
  color: #ffd13e;
}
.footer__social {
  display: flex;
  font-size: 0;
  justify-content: flex-end;
  align-items: center;
}

.meduza {
  margin: 0px 0px 0px 30px;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}
.popup__title {
  color: #5c5e61;
  font-family: "MuseoCyrl900";
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 58px;
  padding: 23px 0px 0px 22px;
  border-bottom: 1px solid #e3effa;
}
.popup.active .popup-content {
  transform: scale(1);
}
.popup.show {
  display: block;
}
.popup.show .popup-content {
  transform: scale(1);
}

.popup-table {
  height: 100%;
  table-layout: fixed;
}
.popup-table > .cell {
  height: 100%;
  vertical-align: middle;
  padding: 30px 10px;
}

.popup-form {
  margin: 38px 0px 0px 126px;
  width: 350px;
}

.popup-content {
  transform: scale(0);
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff;
  width: 601px;
  height: 404px;
}

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 23px;
  right: 26px;
  cursor: pointer;
  background: url("../img/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0;
}

.popup-video__value {
  max-width: 99%;
  height: 99%;
  border: none;
}
.popup-video__value iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100%;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.litepixel {
  transform: rotate(angle);
}

.news {
  position: relative;
}
.news__litepixel {
  position: absolute;
  transform: rotate(-90deg);
  top: 200px;
  left: 80px;
  opacity: 0.85;
  color: #bdcadf;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: bold;
}
.news__row {
  display: flex;
  font-size: 0;
  justify-content: space-between;
}
.news__column {
  min-width: 0;
}

.news-item {
  flex: 0 0 75%;
}
.news-item:hover {
  background: transparent url("../img/bg/bg4.png") left top/cover no-repeat;
}
.news-item__body {
  min-width: 0;
}
.news-item__row {
  display: flex;
  font-size: 0;
}
.news-item__column_l {
  flex-basis: 430px;
}
.news-item__column_r {
  display: flex;
  font-size: 0;
  flex-direction: column;
  justify-content: center;
}
.news-item__image {
  padding: 215px 205px 215px 205px;
}
.news-item__title {
  color: #2e3338;
  font-family: "ProximaNova";
  font-size: 65px;
  font-weight: 700;
  position: relative;
  margin: 0px 0px 20px 0px;
}
.news-item__title:before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  z-index: 3;
  width: 142px;
  height: 3px;
  background-color: #0f1219;
  background-image: linear-gradient(to right, #96ad1b 0%, #698a1d 100%);
}
.news-item__text {
  color: #7a90a4;
  font-family: "ProximaNova";
  font-size: 21px;
  font-weight: 700;
  margin: 18px 0px 0px 0px;
}
.news-item__btn {
  margin: 22px 0px 0px 0px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAHCAMAAAAh3K25AAAAAXNSR0IB2cksfwAAAD9QTFRFAAAA////////////////////////////////////////////////////////////////////////////////Q7v6agAAABV0Uk5TAGDP768QkN+PUP/QsPCAQMAwX3/ggzW8FgAAAGtJREFUeJxlTksWxDAIwubTCSam0/b+Z51ouxs3gMITQLaUC3zqvn+ClJzqgsY1W1yc+QpK9oAug21ZSTOyuHtIsQZy4qABk0QoGA98l1LmM72p64rUZDoz9fmlf7/obtHR34b3XZ+GfajgB5BhBI9nMggxAAAAAElFTkSuQmCC) 18px 21px no-repeat, linear-gradient(to right, #ffa857 0%, #fe5a73 100%);
}
.news-item__online {
  margin: 19px 0px 0px 0px;
}

.news-item__column_r a {
  display: inline-block;
  width: 190px;
}

.online {
  display: flex;
  font-size: 0;
  align-items: center;
}
.online__circl {
  width: 9px;
  height: 9px;
  background-color: #7ec40d;
  border-radius: 50%;
  margin: 0px 4px 0px 0px;
}
.online__text {
  color: #9da9b5;
  font-family: "ProximaNova";
  font-size: 13px;
  font-weight: 700;
}

.tutorial {
  flex: 0 0 25%;
  display: flex;
  font-size: 0;
  flex-direction: column;
  align-items: flex-end;
}
.how-game {
  z-index: 5;
  position: relative;
}
.how-game_1 {
  margin: 75px 0px 35px 0px;
}
.how-game__wrapper {
  display: flex;
  font-size: 0;
  align-items: center;
  width: 256px;
  height: 88px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 5px 65px rgba(0, 0, 0, 0.08);
}
.how-game__wrapper_fon1 {
  width: 241px;
  height: 84px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: 11px;
  left: 8px;
  opacity: 0.65;
  box-shadow: 0 5px 65px rgba(0, 0, 0, 0.08);
  z-index: -1;
}
.how-game__wrapper_fon2 {
  width: 224px;
  height: 79px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: 22px;
  left: 17px;
  opacity: 0.45;
  z-index: -2;
}
.how-game__column1 {
  flex: 0 0 62px;
  height: 63px;
  margin: 12px 12px 12px 12px;
}
.how-game__column2 {
  margin: 24px 22px 24px 0px;
}
.how-game__title {
  color: #2e3338;
  font-family: "MuseoCyrl900";
  font-size: 13px;
  font-weight: 400;
  margin: 0px 0px 6px 0px;
}
.how-game__text {
  color: #7d859f;
  font-family: "ProximaNova";
  font-size: 10px;
  font-weight: 700;
}

.tariffs {
  margin: 65px 0px 0px 0px;
}
.tariffs__purple {
  display: flex;
  font-size: 0;
  justify-content: space-between;
  margin: 0px 0px 85px 0px;
}
.purple-items__item:first-child {
  margin: 0px 55px 0px 0px;
}

.blue-items__item:first-child {
  margin: 0px 55px 0px 0px;
}

.yellow-items__item:first-child {
  margin: 0px 55px 0px 0px;
}

.item {
  position: relative;
  z-index: 5;
}
.item__wrapper {
  width: 534px;
  height: 227px;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  font-size: 0;
}
.item__wrapper_fon1 {
  width: 520px;
  height: 221px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: 13px;
  left: 7px;
  opacity: 0.65;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.04);
  z-index: -1;
}
.item__wrapper_fon2 {
  width: 500px;
  height: 212px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: 27px;
  left: 14px;
  opacity: 0.45;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.04);
  z-index: -1;
}
.item__column1 {
  flex: 0 0 268px;
}
.item__image {
  width: 209px;
  height: 186px;
  margin: 15px 0px 27px 34px;
  padding: 88px 108px;
}
.item__column2 {
  flex: 0 0 auto;
}
.item__title {
  color: #2e3338;
  font-family: "ProximaNova";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0px 27px 0px;
  position: relative;
}
.item__title:after {
  content: "";
  position: absolute;
  width: 96px;
  height: 3px;
  background-color: #0f1219;
  background-image: linear-gradient(to right, #f171f8 0%, #aa35cb 100%);
  opacity: 0.5;
  bottom: -5px;
  left: 0;
}
.item__title_bl:after {
  background-color: #0f1219;
  background-image: linear-gradient(to right, #00e7ff 0%, #017fb4 100%);
}
.item__title_yl:after {
  content: "";
  background-color: #0f1219;
  background-image: linear-gradient(to right, #e5d86d 0%, #989a18 100%);
}
.item__text {
  color: #586c81;
  font-family: "ProximaNova";
  font-size: 13px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 10px;
  background: url(../img/dot.png) left no-repeat;
}
.item__text_f {
  background: url(../img/dot.png) 0 3.5px no-repeat;
}
.item__text_bl {
  background: url(../img/dot1.png) left no-repeat;
}
.item__text_blf {
  background: url(../img/dot1.png) 0 3.5px no-repeat;
}
.item__text_yl {
  background: url(../img/dot2.png) left no-repeat;
}
.item__text_ylf {
  background: url(../img/dot2.png) 0 3.5px no-repeat;
}

.hot {
  width: 61px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 32px;
  color: #ffffff;
  font-family: "MuseoCyrl900";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 10px 35px rgba(251, 152, 43, 0.45);
  background-color: #0f1219;
  background-image: linear-gradient(to right, #fa8819 0%, #fec259 100%);
}

.new {
  width: 61px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 32px;
  color: #ffffff;
  font-family: "MuseoCyrl900";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 10px 35px rgba(102, 177, 23, 0.45);
  background-color: #0f1219;
  background-image: linear-gradient(to right, #65b018 0%, #9cdc01 100%);
}

.none {
  display: none;
}

.btn_pur {
  width: 159px;
  height: 44px;
  color: #ffffff;
  font-family: "ProximaNova";
  font-size: 10px;
  font-weight: 700;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  padding: 15px 0px 20px 43px;
  margin: 13px 0px 0px 0px;
  background: url(../img/icons/c.png) 10px 13px no-repeat, linear-gradient(to right, #f171f8 0%, #aa35cb 100%);
  background-color: #0f1219;
}
.btn_pur:after {
  content: "";
  width: 159px;
  height: 4px;
}
.btn_pur:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 45px;
  width: 1px;
  height: 20px;
  background-color: #ffffff;
  opacity: 0.15;
}
.btn_bl {
  width: 159px;
  height: 44px;
  color: #ffffff;
  font-family: "ProximaNova";
  font-size: 10px;
  font-weight: 700;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  padding: 15px 0px 20px 43px;
  margin: 13px 0px 0px 0px;
  background: url(../img/icons/c.png) 15px 13px no-repeat, linear-gradient(to right, #02c2d6 0%, #02a7c8 40%, #017fb4 100%);
  background-color: #0f1219;
}
.btn_bl:after {
  content: "";
  width: 159px;
  height: 4px;
}
.btn_bl:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 45px;
  width: 1px;
  height: 20px;
  background-color: #ffffff;
  opacity: 0.15;
}
.btn_yel {
  width: 159px;
  height: 44px;
  color: #ffffff;
  font-family: "ProximaNova";
  font-size: 10px;
  font-weight: 700;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  padding: 15px 0px 20px 43px;
  margin: 13px 0px 0px 0px;
  background: url(../img/icons/c.png) 15px 13px no-repeat, linear-gradient(to right, #e5d86d 0%, #989a18 100%);
  background-color: #0f1219;
}
.btn_yel:after {
  content: "";
  width: 159px;
  height: 4px;
}
.btn_yel:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 45px;
  width: 1px;
  height: 20px;
  background-color: #ffffff;
  opacity: 0.15;
}

.form-row {
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.form-input {
  margin: 0px 0px 16px 0px;
  color: #d7dfe7;
}
.form-input p {
  color: #d7dfe7;
  font-family: "ProximaNova";
  font-size: 12px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
}

.form-button__link {
  height: 14px;
  color: #d7dfe7;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 700;
}

.btn {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
}
.btn:before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  opacity: 0.15;
}
.btn:after {
  content: "";
  background-color: #ffffff;
  opacity: 0.25;
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}
.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}
.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  text-overflow: ellipsis;
}
.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}
.select .select-options-list {
  padding: 0px 0px 0px 0px;
}
.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
  color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #d7dfe7;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  height: 58px;
  border: 1px solid #d7dfe7;
  display: block;
  padding: 22px 0px 22px 15px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}
.check input {
  display: none;
}
.check:before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}
.check.active:before {
  background: url("../img/icons/check.png") center no-repeat;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.option:last-child {
  margin-bottom: 0px;
}
.option input {
  display: none;
}
.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}
.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating.edit .star {
  cursor: pointer;
}
.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}
.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}
.quantity__btn:hover:before {
  color: #da0005;
}
.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}
.category-params-item-price-table .cell:first-child:after {
  content: "-";
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}
.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}
@media (max-width: 767.98px) {
  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: flex;
  font-size: 0;
  justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video, .video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video, .videobg iframe, .videobg object, .videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}
.moretext__more i {
  font-style: normal;
}
.moretext__more i:first-child {
  display: block;
}
.moretext__more i:last-child {
  display: none;
}
.moretext__more.active i {
  font-style: normal;
}
.moretext__more.active i:first-child {
  display: none;
}
.moretext__more.active i:last-child {
  display: block;
}

.graystyle {
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slick-slider .slick-track {
  position: relative;
  width: 100%;
}
.slick-slider .slick-slide {
  overflow: hidden;
  float: left;
  position: relative;
}
.tab__item {
  display: none;
}
.tab__item.active {
  display: block;
}

.mirror {
  transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}
.baloon button {
  display: none !important;
}
.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}
.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

.news-item__body .slick-dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.news-item__body .slick-dots li {
  list-style: none;
}
.news-item__body .slick-dots li:first-child {
  margin: 0px 0px 0px 101px;
}

.news-item__body .slick-dots li.slick-active button {
  box-shadow: 0 5px 25px rgba(80, 103, 216, 0.45);
  background-color: #2e3338;
  background-image: linear-gradient(35deg, #96ad1b 0%, #4e6715 100%);
}

.news-item__body .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 20px 0px 20px;
  background-color: #c4d3ea;
  background-image: linear-gradient(to top, rgba(150, 173, 27, 0.22) 0%, rgba(78, 103, 21, 0.22) 100%);
}