//====================================================================================================
header{
	// box-shadow: 0 15px 95px rgba(0, 0, 0, 0.05);
	background-color: rgba(255, 255, 255, 0.25);
	}
//====================================================================================================
.header {
	@include flexbox();
	font-size: 12px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 22px 0px 22px 0px;
	// @media (max-width:$md3+px){
	// 	flex-direction: column;
	// 	padding: 15px 0px 15px 0px;
	// }
	// .header__column
	&__column {
	}
	// .header__logo
	&__logo {
		display: block;
		width: 65px;
		height: 65px;
		position: relative;
		margin: 0px 135px 0px 0px;
		img {
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
	}
}
.menu-header {
	// .menu-header__icon
	&__icon {
		display: none;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
		// @media (max-width:$md3+px){
		// 	display: block;
			
		// }
	}
	// .menu-header__menu
	&__menu {
		@include anim(0.3s,0s);
		position: relative;
		// @media (max-width:$md3+px){
		// 	display: none;
		// 	&.active{
		// 		display: block;

		// 	}
		// }
	}

	// .menu-header__list
	&__list {
		li {
			margin: 0px 35px 0px 0px;
			&:nth-child(4){margin: 0;}
			&:nth-child(5){margin: 0;}
			// @media (max-width:$md1+px){
			// 	margin: 0px 20px 0px 0px;
			// }
			// @media (max-width:$md2+px){
			// 	margin: 0px 10px 0px 0px;
			// }
			&:last-child{
				margin: 0px 0px 0px 0px;
			}
			// @media (max-width:$md3+px){
			// 	margin: 15px 0px 15px 0px;
			// }
		}
		@include flexbox();
		font-size: 16px;
		justify-content: space-between;
		align-items: center;
		// @media (max-width:$md2+px){
		// 	font-size: 12px;
		// }
		// @media (max-width:$md3+px){
		// 	flex-direction: column;
		// }
		// @media (max-width:$md3+px){
		// 	font-size: 20px;
		// 	font-weight: 900;

		// }
		
	}
	// .menu-header__link
	&__link {
		display: block;
		position: relative;
		color: grey;
		text-transform: uppercase;
		font-family: $fontfamily;
		font-size: 14px;
		font-weight: 700;
		&:after{
			@include anim(0.8s,0s);
			display: none;
			content:'';
			position: absolute;
			bottom: -3px;
			left: 0%;
			width: 100%;
			height: 2px;
			background-color: #0f1219;
			background-image: linear-gradient(to right, #ffa658 0%, #fe5d72 100%);
		}
		&:hover{
			color: #2e3338;
			&:after{
				display: block;
			}
		}
		&_dn {
		  	background: linear-gradient(to right, #ffa757 0%, #fe5b73 100%);
		  	color: #2e3338;
		   p {
		   	background: white;
			   mix-blend-mode: screen; /* Режим наложения */
		   }
		}
	}
	&__dots {
	
	}
	&__hiden-menu{
		position: absolute;
		left: 180px;
		// display: none;
	}
}
.hiden-menu {
	width: 253px;
	box-shadow: 0 15px 65px rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	z-index: 100;
	&:hover{
	}
	li {
		position: relative;
		&:hover{
			div {display: block;}
		}
		div {
			display: none;
			width: 94px;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #fb881b;
			background-image: linear-gradient(to right, #5262d6 0%, #42a2f3 100%);
			
			}
		}
}
.menuunvisible {
	display: none;
}
.menuvisible {
	display: block;
}
.arrow {
	width: 45px;
	height: 70px;
	position: absolute;
	background:transparent url('../img/icons/arr.png') left top no-repeat;
	top: -10px;
	right: 0px;
}
.hiden-menu li a{
	display: block;
	color: #b1bbc6;
	font-family: $fontfamily;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	padding:17px 0px 18px 24px;
	border-bottom: 1px solid #edf2f9;
	&:hover{
		color: #505459;
		}
}

.dots {
	@include flexbox();
	margin: 0px 60px 0px 30px;
	&:hover &__dot {
			box-shadow: 0px 0px 10px #fe5f72;
		}

	&__dot {
		width:6px;
		height: 6px;
		border-radius: 50%;
		background-color: #9da9b5;
		margin: 1px;
	}
}


.btn_pg {
	width: 190px;
	height: 51px;
	color: #ffffff;
	font-family: $fontfamily;
	font-size: 13px;
	font-weight: 700;
	padding: 18px 23px 21px 68px;
	background: url(../img/icons/face.svg) 19px 13px no-repeat,
	linear-gradient(to right, #ffa857 0%, #fe5a73 100%);
	background-color: #0f1219;
	&:after{
		content:'';
		width: 190px;
		height: 4px;
	}
	&:before{
		content:'';
		position: absolute;
		top: 14px;
		left: 55px;
		width: 1px;
		height: 22px;
		background-color: #ffffff;
		opacity: 0.15;
	}
}
.btn_gn {
	width: 190px;
	height: 51px;
	padding: 18px 23px 21px 68px;
	color: #ffffff;
	font-family: $fontfamily;
	font-size: 13px;
	font-weight: 700;
	background-color: #0f1219;
	background: url(../img/icons/triangl.svg) 19px 13px no-repeat,
	linear-gradient(to right, #96ad1b 0%, #4e6715 100%);
	&:after{
		content:'';
		width: 190px;
		height: 4px;
	}
	&:before{
		content:'';
		position: absolute;
		top: 14px;
		left: 55px;
		width: 1px;
		height: 22px;
		background-color: #ffffff;
		opacity: 0.15;
	}
	&_pp {
		margin: 5px 31px 0px 0px;
		box-shadow: 0 15px 45px rgba(105, 179, 23, 0.45);
		background-color: #0f1219;
		background: url(../img/icons/face.png) 19px 13px no-repeat,
	   linear-gradient(to right, #9bdb01 0%, #66b118 100%);
		// background-image: linear-gradient(to right, #9bdb01 0%, #66b118 100%);
	}
}

