//<МИКСИНЫ>===============================================================================================
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face {
  font-family: 'MuseoCyrl900';
  src: url("../fonts/MuseoSansCyrl900.ttf");
  src: url("../fonts/MuseoSansCyrl900.ttf") format("truetype");
  font-weight: 900;
  font-style: bold; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNovaBold.otf");
  src: url("../fonts/ProximaNovaBold.otf") format("opentype");
  font-weight: 700;
  font-style: bold; }

//</Подключаем шрифты>=======================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"ProximaNova";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:1122;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;background-color: #ecedee;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3+px){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	background: url(../img/bg2.png) 0 0/cover repeat;
	&.loaded{}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 10px;}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
//<NEWS>================================================================================================
.news {
	
	// .news__body
	&__body {}
	// .news__row
	&__row {
		@include flexbox();
		justify-content: space-between;
	}
	// .news__column
	&__column {
		min-width: 0;
	}
}
.news-item {
	// .news-item__body
	flex: 0 0 75%;
	&__body {
		min-width: 0;
	}
	// .news-item__row
	&__row {
		@include flexbox();
	}
	// .news-item__column
	&__column {
		// .news-item__column_l
		&_l {
			flex-basis:430px;
		}
		// .news-item__column_r
		&_r {
			@include flexbox();
			flex-direction: column;
			justify-content: center;
		}
	}
	// .news-item__image
	&__image {
		padding: 215px 205px 215px 205px;
		// width: 430px;
		// height: 410px;
	}
	// .news-item__title
	&__title {
		color: #2e3338;
		font-family: $fontfamily;
		font-size: 65px;
		font-weight: 700;
		position: relative;
		margin: 0px 0px 20px 0px;
		&:before{
			content:'';
			position: absolute;
			bottom: -13px;
			left: 0;
			z-index: 3;
			width: 142px;
			height: 3px;
			background-color: #0f1219;
			background-image: linear-gradient(to right, #96ad1b 0%, #698a1d 100%);
		}
	}
	// .news-item__text
	&__text {
		color: #7a90a4;
		font-family: $fontfamily;
		font-size: 21px;
		font-weight: 700;
		margin: 18px 0px 0px 0px;

	}
	// .news-item__btn
	&__btn {
		margin: 22px 0px 0px 0px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAHCAMAAAAh3K25AAAAAXNSR0IB2cksfwAAAD9QTFRFAAAA////////////////////////////////////////////////////////////////////////////////Q7v6agAAABV0Uk5TAGDP768QkN+PUP/QsPCAQMAwX3/ggzW8FgAAAGtJREFUeJxlTksWxDAIwubTCSam0/b+Z51ouxs3gMITQLaUC3zqvn+ClJzqgsY1W1yc+QpK9oAug21ZSTOyuHtIsQZy4qABk0QoGA98l1LmM72p64rUZDoz9fmlf7/obtHR34b3XZ+GfajgB5BhBI9nMggxAAAAAElFTkSuQmCC) 18px 21px no-repeat,
	      linear-gradient(to right, #ffa857 0%, #fe5a73 100%);
	}
	&__online{
		margin: 19px 0px 0px 0px;
	}
}
.news-item__column_r a {display: inline-block; width: 190px;} 
.online {
	@include flexbox();
	align-items: center;
	// .online__circl
	&__circl {
		width: 9px;
		height: 9px;
		background-color: #7ec40d;
		border-radius: 50%;
		margin: 0px 4px 0px 0px;
	}
	// .online__text
	&__text {
		color: #9da9b5;
		font-family: $fontfamily;
		font-size: 13px;
		font-weight: 700;
	}
}

.tutorial {
	flex: 0 0 25%;
	@include flexbox();
	flex-direction: column;
	align-items: flex-end;
	// .tutorial__how-game
	&__how-game {}
}
.how-game {
	z-index: 5;
	position: relative;
	&_1 {margin: 75px 0px 35px 0px;}
	// .how-game__wrapper
	&__wrapper {
		@include flexbox();
		align-items: center;
		width: 256px;
		height: 88px;
		border-radius: 3px;
		background:#fff;
		box-shadow: 0 5px 65px rgba(0, 0, 0, 0.08);
		&_fon1 {
			width: 241px;
			height: 84px;
			border-radius: 3px;
			background:#fff;
			position: absolute;
			top: 11px;
			left: 8px;
			opacity: 0.65;
			box-shadow: 0 5px 65px rgba(0, 0, 0, 0.08);
			z-index: -1;
		}
		&_fon2 {
			width: 224px;
			height: 79px;
			border-radius: 3px;
			background:#fff;
			position: absolute;
			top: 22px;
			left: 17px;
			opacity: 0.45;
			z-index: -2;
		}
	}
	// .how-game__column1
	&__column1 {
		flex: 0 0 62px;
		height: 63px;
		margin: 12px 12px 12px 12px;
	}
	// .how-game__column2
	&__column2 {
		margin: 24px 22px 24px 0px;
	}
	// .how-game__title
	&__title {
		color: #2e3338;
		font-family: "MuseoCyrl900";
		font-size: 13px;
		font-weight: 400;
		margin: 0px 0px 6px 0px;
	}
	// .how-game__text
	&__text {
		color: #7d859f;
		font-family: $fontfamily;
		font-size: 10px;
		font-weight: 700;
	}
}
//<TARIFFS>=============================================================================================
.tariffs {
	margin: 65px 0px 0px 0px;
	// .tariffs__body
	&__body {}
	// .tariffs__purple
	&__purple {
		@include flexbox();
		justify-content: space-between;
		margin: 0px 0px 85px 0px;
	}
	// .tariffs__blue
	&__blue {}
	// .tariffs__yellow
	&__yellow {}
}
.purple-items {
	// .purple-items__item
	&__item {
		&:first-child{
			margin: 0px 55px 0px 0px;
		}
	}
}
.blue-items {
	// .purple-items__item
	&__item {
		&:first-child{
			margin: 0px 55px 0px 0px;
		}
	}
}
.yellow-items {
	// .purple-items__item
	&__item {
		&:first-child{
			margin: 0px 55px 0px 0px;
		}
	}
}
.item {
	position: relative;
	z-index: 5;
	// .item__wrapper
	&__wrapper {
		width: 534px;
		height: 227px;
		background-color: #fff;
		border-radius: 3px;
		@include flexbox();
		&_fon1 {
			width: 520px;
			height: 221px;
			border-radius: 3px;
			background:#fff;
			position: absolute;
			top: 13px;
			left: 7px;
			opacity: 0.65;
			box-shadow: 0 15px 45px rgba(0, 0, 0, 0.04);
			z-index: -1;
		}
		&_fon2 {
			width: 500px;
			height: 212px;
			border-radius: 3px;
			background:#fff;
			position: absolute;
			top: 27px;
			left: 14px;
			opacity: 0.45;
			box-shadow: 0 15px 45px rgba(0, 0, 0, 0.04);
			z-index: -1;
		}
	}
	// .item__column1
	&__column1 {
		flex: 0 0 268px;
	}
	// .item__image
	&__image {
		// width: 209px;
		// height: 186px;
		margin: 15px 0px 27px 34px;
		padding: 93px 104.5px;
		img {
			display: block;
		}
	}
	// .item__column2
	&__column2 {
		flex: 0 0 auto;
	}
	// .item__title
	&__title {
		color: #2e3338;
		font-family: $fontfamily;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 30px 0px 27px 0px;
		position: relative;
		&:after{
			content:'';
			position: absolute;
			width: 96px;
			height: 3px;
			background-color: #0f1219;
			background-image: linear-gradient(to right, #f171f8 0%, #aa35cb 100%);
			opacity: 0.5;
			bottom: -5px;
			left: 0;
		}
		&_bl {
			&:after{
				background-color: #0f1219;
				background-image: linear-gradient(to right, #00e7ff 0%, #017fb4 100%);
				}
		}
		&_yl {
			&:after{
				content:'';
				background-color: #0f1219;
				background-image: linear-gradient(to right, #e5d86d 0%, #989a18 100%);
			}
		}
	}
	// .item__text
	&__text {
		color: #586c81;
		font-family: $fontfamily;
		font-size: 13px;
		font-weight: 700;
		margin: 0px 0px 5px 0px;
		padding: 0px 0px 0px 10px;
		background: url(../img/dot.png) left no-repeat;
		&_f {
			background: url(../img/dot.png) 0 3.5px no-repeat;
		}
		&_bl{
			background: url(../img/dot1.png) left no-repeat;
		}
		&_blf {background: url(../img/dot1.png) 0 3.5px no-repeat;}
		&_yl {
			background: url(../img/dot2.png) left no-repeat;
		}
		&_ylf{background: url(../img/dot2.png) 0 3.5px no-repeat;}
	}
}
.hot {
	width: 61px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 24px;
	right: 32px;
	color: #ffffff;
	font-family: "MuseoCyrl900";
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 10px 35px rgba(251, 152, 43, 0.45);
	background-color: #0f1219;
	background-image: -webkit-linear-gradient(left, #fa8819 0%, #fec259 100%);
	background-image: -o-linear-gradient(left, #fa8819 0%, #fec259 100%);
	background-image: linear-gradient(to right, #fa8819 0%, #fec259 100%);
}
.new {
	width: 61px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 24px;
	right: 32px;
	color: #ffffff;
	font-family: "MuseoCyrl900";
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 10px 35px rgba(102, 177, 23, 0.45);
	background-color: #0f1219;
	background-image: -webkit-linear-gradient(left, #65b018 0%, #9cdc01 100%);
	background-image: -o-linear-gradient(left, #65b018 0%, #9cdc01 100%);
	background-image: linear-gradient(to right, #65b018 0%, #9cdc01 100%);
}
.none {
	display: none;
}

.btn {
	// .btn_pg
	&_pur {
		width: 159px;
		height: 44px;
		color: #ffffff;
		font-family: $fontfamily;
		font-size: 10px;
		font-weight: 700;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
		padding: 15px 0px 20px 43px;
		margin: 13px 0px 0px 0px;
		background: url(../img/icons/c.png) 10px 13px no-repeat,
		linear-gradient(to right, #f171f8 0%, #aa35cb 100%);
		background-color: #0f1219;
		&:after{
			content:'';
			width: 159px;
			height: 4px;
		}
		&:before{
			content:'';
			position: absolute;
			top: 11px;
			left: 45px;
			width: 1px;
			height: 20px;
			background-color: #ffffff;
			opacity: 0.15;
		}
	}
	&_bl {
		width: 159px;
		height: 44px;
		color: #ffffff;
		font-family: $fontfamily;
		font-size: 10px;
		font-weight: 700;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
		padding: 15px 0px 20px 43px;
		margin: 13px 0px 0px 0px;
		background: url(../img/icons/c.png) 15px 13px no-repeat,
		linear-gradient(to right, #02c2d6 0%, #02a7c8 40%, #017fb4 100%);
		background-color: #0f1219;
		&:after{
			content:'';
			width: 159px;
			height: 4px;
		}
		&:before{
			content:'';
			position: absolute;
			top: 11px;
			left: 45px;
			width: 1px;
			height: 20px;
			background-color: #ffffff;
			opacity: 0.15;
		}
	}
	&_yel {
		width: 159px;
		height: 44px;
		color: #ffffff;
		font-family: $fontfamily;
		font-size: 10px;
		font-weight: 700;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
		padding: 14px 20px 20px 53px;
		background: url(../img/icons/c.png) 15px 13px no-repeat,
		linear-gradient(to right, #e5d86d 0%, #989a18 100%);
		background-color: #0f1219;
		&:after{
			content:'';
			width: 159px;
			height: 4px;
		}
		&:before{
			content:'';
			position: absolute;
			top: 11px;
			left: 45px;
			width: 1px;
			height: 20px;
			background-color: #ffffff;
			opacity: 0.15;
		}
	}
}




//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//SLIDER===================================================================================
.news-item__body .slick-dots {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.news-item__body .slick-dots li{
	list-style: none;
	&:first-child{
		margin: 0px 0px 0px 101px;
	}
}
.news-item__body .slick-dots li.slick-active button {
	box-shadow: 0 5px 25px rgba(80, 103, 216, 0.45);
	background-color: #2e3338;
	background-image: linear-gradient(35deg, #96ad1b 0%, #4e6715 100%);
}
.news-item__body .slick-dots button{
	font-size: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0px 20px 0px 20px;
	background-color: #c4d3ea;
	background-image: linear-gradient(to top, rgba(150, 173, 27, 0.22) 0%, rgba(78, 103, 21, 0.22) 100%);

}