//<МИКСИНЫ>===============================================================================================
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face {
  font-family: 'MuseoCyrl900';
  src: url("../fonts/Museo Sans Cyrl 900.ttf");
  src: url("../fonts/Museo Sans Cyrl 900.ttf") format("truetype");
  font-weight: 900;
  font-style: bold; }

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNovaBold.otf");
  src: url("../fonts/ProximaNovaBold.otf") format("opentype");
  font-weight: 700;
  font-style: bold; }

//</Подключаем шрифты>=======================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"MuseoCyrl900";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:1122;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3+px){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	background: url(../img/bg2.png) 0 0/cover repeat;
	&.loaded{}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 10px;}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
//<NEWS>================================================================================================
.news {
	background-color: #ecedee;
	// .news__body
	&__body {}
	// .news__row
	&__row {
		@include flexbox();
	}
	// .news__column
	&__column {}
}
.news-item {
	// .news-item__body
	&__body {}
	// .news-item__row
	&__row {
		@include flexbox();
	}
	// .news-item__column
	&__column {
		// .news-item__column_l
		&_l {
			flex-basis:430px;
		}
		// .news-item__column_r
		&_r {
			@include flexbox();
			flex-direction: column;
			justify-content: center;
		}
	}
	// .news-item__image
	&__image {
		padding: 215px 205px 215px 205px;
		// width: 430px;
		// height: 410px;
	}
	// .news-item__title
	&__title {
		color: #2e3338;
		font-family: "Proxima Nova";
		font-size: 65px;
		font-weight: 700;
		position: relative;
		margin: 0px 0px 20px 0px;
		&:before{
			content:'';
			position: absolute;
			bottom: -13px;
			left: 0;
			z-index: 3;
			width: 142px;
			height: 3px;
			background-color: #0f1219;
			background-image: linear-gradient(to right, #96ad1b 0%, #698a1d 100%);
		}
	}
	// .news-item__text
	&__text {
		color: #7a90a4;
		font-family: "Proxima Nova";
		font-size: 21px;
		font-weight: 700;
		margin: 18px 0px 0px 0px;
	}
	// .news-item__btn
	&__btn {
		margin: 22px 0px 0px 0px;
		background: url(../img/icons/3.png) 18px 21px no-repeat,
	      linear-gradient(to right, #ffa857 0%, #fe5a73 100%);
	}
	&__online{
		margin: 19px 0px 0px 0px;
	}
}
.online {
	@include flexbox();
	// .online__circl
	&__circl {
		width: 9px;
		height: 9px;
		background-color: #7ec40d;
		border-radius: 50%;
		margin: 0px 4px 0px 0px;
	}
	// .online__text
	&__text {
		color: #9da9b5;
		font-family: "Proxima Nova";
		font-size: 13px;
		font-weight: 700;
	}
}

.btn {
	// .btn_pg
	&_pg {}
}
.tutorial {
	// .tutorial__how-game
	&__how-game {
		width: 256px;
		height: 88px;
		position: relative;
		p {
			color: #2e3338;
			font-family: "MuseoCyrl900";
			font-size: 13px;
			font-weight: 400;
			z-index: 8;
			position: relative;
			margin: 24px 34px 51px 87px;
		&_1 {
			position: absolute;
			width: 256px;
			height: 88px;
			background-color: #ffffff;
			border-radius: 3px;
			box-shadow: 0 5px 65px rgba(0, 0, 0, 0.08);
			top: 0px;
			left: 0px;
			z-index: 7;
			
		}
		&_2{
			position: absolute;
			width: 241px;
			height: 84px;
			background-color: #ffffff;
			border-radius: 3px;
			box-shadow: 0 5px 65px rgba(0, 0, 0, 0.08);
			top: 11px;
			left: 8px;
			z-index: 5;
		}
		&_3{
			position: absolute;
			width: 224px;
			height: 79px;
			background-color: #ffffff;
			border-radius: 3px;
			box-shadow: 0 5px 65px rgba(0, 0, 0, 0.08);
			top: 22px;
			left: 17px;
			z-index: 3;
		}		
	}
	// .tutorial__moder
	&__moder {}
}

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
